{% extends 'layout.html' %}

{% block body %}

<ul class="tabs">
    <li class="pass tab" id="" onclick="sure(this.id)">Upload files</li>
    <li class="pass tab" id="imputation" onclick="sure(this.id)">Apply imputation</li>
    <li class="active tab" id="learning">Choose the learning method</li>
</ul>

<div class="container">
    <div id="choose-learning" data-tab-content>
        <div class="titles">Choose the learning method</div>
        
        <div class="question">Which method do you want to use?</div>
        <div>
            <br><table id="learn">
                    <tr>
                        <td><b>Supervised Learning</b></td>
                        <td><b>Unsupervised learning</b></td> 
                    </tr>
                    <tr>
                        <td><p>Data
                            must be labeled (i.e., belong to
                            a class). This method is useful
                            for classifying new samples.</p></td>
                        <td><p>Data
                            does not need to be labeled.
                            This method is useful for
                            finding patterns in clusters.</p></td>
                    </tr>
                    <tr>
                        <form action="/choose_learn" method= "POST">
                        <td><br><input type="radio" id="super" name="learning" value="sup">
                            <label for="super">Supervised</label></td>
                        <td><br><input type="radio" id="unsuper" name="learning" value="unsup">
                            <label for="unsuper">Unsupervised</label></td>
                    </tr>
                </table>
                <br><center><div id="upl"><br><button>Next</button></center>
                </form>
        </div>
    </div>
</div>

{% endblock %}