{% extends 'layout.html' %}

{% block body %}

<ul class="tabs">
    <li class="pass tab">Supervised learning</li>
    <li class="pass tab">1. Select the variables</li>
    <li class="pass tab">2. Balance the data</li>
    <li class="active tab">3. Split the data</li>
    <li class="tab">4. Classification report</li>
    <li class="tab">5. Classify new samples</li>
    <li class="tab">6. Classification results</li>
</ul>

<div class="container">
    <div id="choose-learning" data-tab-content>
        <div class="titles">Select the features</div>
    
    
    </div>
</div>

{% endblock %}