{% extends 'layout.html' %}

{% block body %}

<ul class="tabs">
    <li class="pass tab">Supervised learning</li>
    <li class="pass tab">1. Select the variables</li>
    <li class="pass tab">2. Balance the data</li>
    <li class="pass tab">3. Split the data</li>
    <li class="active tab">4. Classification report</li>
    <li class="tab">5. Classify new samples</li>
    <li class="tab">6. Classification results</li>
</ul>

<div class="container">
    <div id="choose-learning" data-tab-content>
        <div class="titles">Classification report</div>

        <p class="question">Metrics definition</p>
        <br><p>The following metrics are evaluated for each model:</p>
        <p><b>Accuracy: </b>Percentage of total samples classified correctly.</p>
        <p><b>Precision: </b>Percentage of samples correctly identified as positive
            out of total samples identified as positive.</p>
        <p><b>Recall: </b>Percentage of samples correctly identified as positive out
            of total true positives.</p>
        <p><b>F1-Score: </b>Harmonic mean of precision and recall.</p>
        <p><b>Support: </b>Number of samples per class.</p>
        <p><b>Feature importance: </b>Percentage of how much the model
            performance decreases when a feature is not available. The Eli5
            method was used to calculate the feature importance for the
            Random Forest and the Decision Trees algorithms. A feature is
            important if shuffling its values increases the model error.</p>
        
        <!-- Best model -->
        <br><p class="question">Best model: {{ best_name }}</p>
        
        <!-- {{ best_name }} = Name of the classifier -->
        <div class="row">
            <div class="col-1">
                
                <br><center>{{ best_name }} Accuracy: {{ '%0.2f'|format(best_acc)|float }}
                    <!-- <br><br>{{ best_met }} -->
                    <table>
                        <tr>
                            <td></td>
                            <!-- Titles -->
                            <td><b>Precision</b></td>
                            <td><b>Recall</b></td>
                            <td><b>F1 Score</b></td>
                            <td><b>Support</b></td>
                        </tr>
                        {% for met in best_met: %}
                        <tr>
                            <!-- Columns -->
                            <td>{{ met }}</td>
                            <td>{{ '%0.2f'| format(best_met.get(met).get('precision') |float) }}</td>
                            <td>{{ '%0.2f'| format(best_met.get(met).get('recall') |float) }}</td>
                            <td>{{ '%0.2f'| format(best_met.get(met).get('f1-score') |float) }}</td>
                            <td>{{ best_met.get(met).get('support') }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5">{{ best_name }} : {{ defs.get(best_name) }}</td>
                        </tr>
                    </table>
                
            </div>
            {% if best_name == 'Decision Trees' or best_name == 'Random Forest': %}
            <div class="col-2">
            <br><br>
            <center><table>
                    <tr>
                        <td><b>Feature</b></td>
                        <td><b>Feature importance</b></td>
                    </tr>
                    {% for i in range(best_imp|length): %}
                    <tr>
                        <td>{{ best_imp.loc[i,'feature']}}</td>
                        <td>{{ '%0.2f'| format(best_imp.loc[i,'feature_importance'] |float) }}</td>
                    </tr>                    
                    {% endfor %}
                </table></center>
            </div>
            {% endif %}
        </div>
        
        
        <center><br><br>Now you can use this model to classify new samples!
        <form action="/add_report" method= "POST">
            <div id="upl"><br><button>Classify</button></div>
        </form></center>
        <br><hr>
        
        <br>The evaluation results of the other classification models are as follows:</center>
        
        <!-- Tables -->
        {% for name in range(0, (accsList|length)|int, 2): %}
        <div class="row">
            <div class="col-1">
                <br><center>{{ accsList[name] }} Accuracy: {{ '%0.2f'|format(accs.get(accsList[name]))|float }}
                    <table>
                        <tr>
                            <td></td>
                            <!-- Titles -->
                            <td><b>Precision</b></td>
                            <td><b>Recall</b></td>
                            <td><b>F1 Score</b></td>
                            <td><b>Support</b></td>
                        </tr>
                        {% for met in mets.get(accsList[name]): %}
                        <tr>
                            <!-- Columns -->
                            <td>{{ met }}</td>
                            <td>{{ '%0.2f'| format(mets.get(accsList[name]).get(met).get('precision') |float) }}</td>
                            <td>{{ '%0.2f'| format(mets.get(accsList[name]).get(met).get('recall') |float) }}</td>
                            <td>{{ '%0.2f'| format(mets.get(accsList[name]).get(met).get('f1-score') |float) }}</td>
                            <td>{{ mets.get(accsList[name]).get(met).get('support') }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5">{{ accsList[name] }} : {{ defs.get(accsList[name]) }}</td>
                        </tr>
                    </table></center>
            </div>
            {% if accsList[name+1]: %}
            <div class="col-2">
                <br><center>{{ accsList[name+1] }} Accuracy: {{ '%0.2f'|format(accs.get(accsList[name+1]))|float }}
                    <table>
                        <tr>
                            <td></td>
                            <!-- Titles -->
                            <td><b>Precision</b></td>
                            <td><b>Recall</b></td>
                            <td><b>F1 Score</b></td>
                            <td><b>Support</b></td>
                        </tr>
                        {% for met in mets.get(accsList[name+1]): %}
                        <tr>
                            <!-- Columns -->
                            <td>{{ met }}</td>
                            <td>{{ '%0.2f'| format(mets.get(accsList[name+1]).get(met).get('precision') |float) }}</td>
                            <td>{{ '%0.2f'| format(mets.get(accsList[name+1]).get(met).get('recall') |float) }}</td>
                            <td>{{ '%0.2f'| format(mets.get(accsList[name+1]).get(met).get('f1-score') |float) }}</td>
                            <td>{{ mets.get(accsList[name+1]).get(met).get('support') }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5">{{ accsList[name+1] }} : {{ defs.get(accsList[name+1]) }}</td>
                        </tr>
                    </table></center>
            </div>
            {% endif %}
        </div>
        <br>
        {% endfor %}

        {% for name in range(accsTList|length): %}
        <div class="row">
            <div class="col-1">
                <br><center>{{ accsTList[name] }} Accuracy: {{ '%0.2f'|format(accs_trees.get(accsTList[name]))|float }}
                    <table>
                        <tr>
                            <td></td>
                            <!-- Titles -->
                            <td><b>Precision</b></td>
                            <td><b>Recall</b></td>
                            <td><b>F1 Score</b></td>
                            <td><b>Support</b></td>
                        </tr>
                        {% for met in mets_trees.get(accsTList[name]): %}
                        <tr>
                            <!-- Columns -->
                            <td>{{ met }}</td>
                            <td>{{ '%0.2f'| format(mets_trees.get(accsTList[name]).get(met).get('precision') |float) }}</td>
                            <td>{{ '%0.2f'| format(mets_trees.get(accsTList[name]).get(met).get('recall') |float) }}</td>
                            <td>{{ '%0.2f'| format(mets_trees.get(accsTList[name]).get(met).get('f1-score') |float) }}</td>
                            <td>{{ mets_trees.get(accsTList[name]).get(met).get('support') }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5">{{ accsTList[name] }} : {{ defs.get(accsTList[name]) }}</td>
                        </tr>
                    </table></center>
            </div>
            <div class="col-2">
                <br><br>
                <center><table id="import_table">
                    <tr>
                        <td><b>Feature</b></td>
                        <td><b>Feature importance</b></td>
                    </tr>
                    {% for i in range(imps.get(accsTList[name])|length): %}
                    <tr>
                        <td>{{ imps.get(accsTList[name]).loc[i,'feature']}}</td>
                        <td>{{ '%0.2f'| format(imps.get(accsTList[name]).loc[i,'feature_importance'] |float)}}</td>
                    </tr>                    
                    {% endfor %}
                </table></center>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}