{% extends 'layout.html' %}

{% block body %}

<!-- <ul class="tabs">
    <li class="pass tab">Supervised learning</li>
    <li class="pass tab">1. Select the variables</li>
    <li class="pass tab">2. Balance the data</li>
    <li class="active tab">3. Split the data</li>
    <li class="tab">4. Classification report</li>
    <li class="tab">5. Classify new samples</li>
    <li class="tab">6. Classification results</li>
</ul> -->
<hr style="height:4px; width:100%">
<div class="container">
    <div id="info" data-tab-content>
        <!-- <div class="titles">Select the features</div> -->
        
        <br><br>
        <center>
            Harvey Alférez, Ph.D. and Oscar Esteban.
            <br>
            <b>Instituto de Ciencia de Datos</b>
            <br>
            Universidad de Montemorelos, Mexico
            <br>
            <a href="https://icd.um.edu.mx">Instituto de 
                Ciencia de Datos</a>

            <br><br><br>
            Benjamin Clausen, Ph.D. and Ana Martinez Ardila, Ph.D.
            <br>
            <b>Geoscience Research Institute</b>
            <br>
            Loma Linda University, USA
            <br>
            <a href="https://bclausen.net">Benjamin 
                L. Clausen</a>
            <br>
            <a href="http://www.llu.edu/pages/faculty/directory/faculty.html?uid=anmartinez&eid=1a5e10c">Ana 
            Martínez Ardila</a>
            <br>
        </center>
        
    </div>
</div>

{% endblock %}