<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTool</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<header>
    <div class="main-title">AUTOML FOR GEOCHEMISTRY</div>
    <div>
        <nav>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Info</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    
    {% block body %}

    {% endblock %}
<br>
<br>
</body>
<footer>
    ICD
</footer>
</html>

