{% extends 'layout.html' %}

{% block body %}

<ul class="tabs">
    <li class="tab">Unsupervised learning</li>
    <li class="active tab">1. Select the features</li>
    <li class="tab">2. PCA and cluster reports</li>
</ul>

<div class="container">
        <div id="choose-learning" data-tab-content>
            <div class="titles">Select the features</div>
            <div class="question">Please select the variables for the features to be used to create the clusters:</div>
            <div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}