{% extends 'layout.html' %}

{% block body %}
<script>
    function myFunction() {
      window.open("/plot.png");
    }
</script>

<ul class="tabs">
    <li class="tab">Unsupervised learning</li>
    <li class="pass tab">1. Select the features</li>
    <li class="pass tab">2. PCA</li>
    <li class="active tab">3. Cluster reports</li>
</ul>

<div class="container">
    <div id="choose-learning" data-tab-content>
        <div class="titles">Clusters report</div>
        
            {% if no_components != 1: %}
            <p>The {{ no_components }} principal components with the most variance were used to asign each sample to a cluster.
                The Elbow method choosed the number of {{ no_clusters }} clusters as the most optimal number of 
                clusters and the K-Means algorithm was used to generate them.</p>
            
            <p>You can see the clusters plotted with each combination of principle components. 
                Also, the eigenvectors of each feature are shown (click the image to open in a new tab).</p>
            
            <br><center>
            <div style="width:90vw; height:80vh; overflow:auto;">
                <img src="/plot.png" alt="my plot" width="950vw" onclick="myFunction()">
            </div>
            <br><br>
            </center>
            {% endif %}


            {% if no_components == 1: %}                    
            <p>The principal component with the most variance was used to asign each sample to a cluster.
                The Elbow method choosed the number of {{ no_clusters }} clusters as the most optimal number of 
                clusters and the K-Means algorithm was used to generate them.</p>
            {% endif %}
            
            <br>
            <p>The following table shows each sample assigned to a cluster (see the
                last column). You can also download the CSV file with the results.</p>    
            <br><div style="width:90vw; height:50vh; overflow:auto; font-size: 15px;">
                
                {% for tab in data: %}
                    {{ tab|safe }}
                {% endfor %}
                
            </div>
            <form action="/add_results" method= "GET">
                <center><div id="upl"><br><button>Download CSV</button></div></center>
            </form>
    </div>    
</div>

{% endblock %}