{% extends 'layout.html' %}

{% block body %}

<ul class="tabs">
    <li class="tab">Unsupervised learning</li>
    <li class="pass tab">1. Select the features</li>
    <li class="active tab">2. PCA</li>
    <li class="tab">3. Cluster reports</li>
</ul>

<div class="container">
    <div id="choose-learning" data-tab-content>
        <div class="titles">Principal Components Analysis</div>
        
        <p>Principal Component Analysis (PCA) is used for data reduction. It
            aims to reduce a large number of variables to a (much) smaller
            number while losing as little information as possible. The 
            following {{ no_components }} principal components were generated:</p>
            
        <center><br><b>Component loadings</b>
        <div style="width:90vw; height:62.5vh; overflow:auto; font-size: 15px;">
        {% for comp in components: %}
            {{ comp|safe }}
        {% endfor %}
        </div>
        
        <br><b>Summary</b>
        <div style="width:60vw; height:62.5vh; overflow:auto; font-size: 15px;">
            {% for sum in summary: %}
                {{ sum|safe }}
            {% endfor %}
        </div>
        
        <br>
        <br>You can see the explained variance of each component in this bar graph.
        
        <br><br>
        <div style="width:90vw; height:78vh; overflow:auto;">
            <img src="/bar.png" alt="my plot" width="600vw">
        </div>
        <br><br><br>
        <p class="question">Select the number of principal components to use:</p>
        <form action="/add_pca" method= "POST">
        
        <br>
        <select id="pcnumber" name="pcnumber"> 
            {% for no in range(no_components): %}
                <option value={{no+1}}>{{ no+1 }}</option>
            {% endfor %}
        </select>

        <br>
        <br>
            <div id="upl"><br><button onclick="$('#parent-load').show();">Next</button></center>
        </form>
        <div id="parent-load" style="display:none;">
            <div id="loading"><img src="../static/img/loading-3.gif" alt="Loading" width="70%" height="70%" /></div>
        </div>
    </div>    
</div>

{% endblock %}