{% extends 'layout.html' %}

{% block body %}

<ul class="tabs">
    <li class="tab">Unsupervised learning</li>
    <li class="pass tab">1. Select the features</li>
    <li class="active tab">2. PCA</li>
    <li class="tab">3. Cluster reports</li>
</ul>

<div class="container">
    <div id="choose-learning" data-tab-content>
        <div class="titles">Principal Components Analysis</div>
        
        <p>Principal Component Analysis (PCA) is used for data reduction. It
            aims to reduce a large number of variables to a (much) smaller
            number while losing as little information as possible. The 
            following {{ no_components }} principal components were generated 
            using Eigenvalues greater than 1:</p>
            
            <center><br>Component loadings
            <!-- <div class="row"> -->
                {% for comp in components: %}
                    {{ comp|safe }}
                {% endfor %}
            <!-- </div> -->
        
        <br>Summary
        <!-- <div class="row"> -->
            {% for sum in summary: %}
                {{ sum|safe }}
            {% endfor %}
        <!-- </div> -->
        
        <br>The {{ '%0.2f'|format(cum_var) }}% of all data is explained in the previous components (whose eigenvalues are greather than 1), 
            however, you can see the explained variance of all components in this bar graph.
        <br><br>
        <img src="/bar.png" alt="my plot" width="600vw">

        <br><form action="/add_pca" method= "POST">
            <div id="upl"><br><button>Next</button></center>
        </form>
    </div>    
</div>

{% endblock %}